*{margin: 0;
padding: 0;}


html { font-size: 62.5%;
}

body{  
    font-family: montserrat;
    box-sizing: border-box;
}


/* INICIO */

header{
    background-color: bisque;
    height: 10rem;
    width: 96%;
    margin-left: 2%;
    margin-right: 2%;
    display: flex;
    justify-content: space-between;
}
nav ul {
    list-style: none;
}
 nav ul li {
     display: inline-block;
     padding:25px;
    
     }
ul  { 
    height: 10rem;
    display: flex;
    
}

li{ margin-top: 10%;
   
 }

 .enlaceHeader{ 
        text-decoration: none;
        color:black;
        font-size: 15px;
        font-weight: bold;
        line-height: 15px;
        margin-top: 20%;
        
    }
    
 .enlaceHeader:hover{
        color:grey;
        text-decoration: none;
    }

    @media (max-width:600px) and (orientation:portrait) {
       ul {
            font-size: 10px;
            flex-direction: column;
        }
        .enlaceHeader {
            font-size: 10px;
        }
        nav ul li {
            padding: 0%;
            
        }
        li {
            margin-top:30%;
            list-style-position: inside;
            
        }
    }
    
#monograma{
    font-family:'cinzel',serif;
    font-size: 40px;
    font-weight: bold;
    float: left;
    position: relative;
    margin-left: 5%;
    line-height: 27px;
    text-align: center;
    top: 30%;
}


.presentacion {
    height: 450px;
    background-image: url(../MULTMEDIA/imagenhome.jpg);
    background-size: cover;
    background-position: center;
    margin-left: 2%;
    margin-right: 2%;
    text-align: center;
    line-height: 500px;
    font-size: medium;
    
}

.presentacion:hover {
    background-image: url(../MULTMEDIA/code.jpg);
    opacity: 70%;
    color: white;
    line-height:365px;
    transition: 1s;
}


.workstyle{

    height: 70px;
    font-family:'Montserrat',sans-serif;
    font-size: 13px;
    font-weight: bold;
    text-align-last: center;
    background-image: linear-gradient(bisque, grey);
    margin-left: 2%;
    margin-right: 2%;
    padding: 3px;
    padding-top: 30px;   
}


.areas {
    background-image: linear-gradient(grey,black);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 90px;
    margin-left: 2%;
    margin-right: 2%;
    font-family: montserrat;
    font-size: 20px;
    text-align: center;
    
}

.enlaceAreas{ 
    color: bisque;
    text-decoration:none;
    font-weight: bold;
    margin-bottom: 30px;
    
}

.enlaceAreas:hover{
    color:orange
}

.grafico{ 
    width: 20%;
}

.web {
    width: 20%;
}

.editorial{
    width: 20%;
}

.foto {
    width: 20%;
}

.baseSecciones{
    height: 690px;
    margin-left: 2%;
    margin-right: 2%;
    background-image: linear-gradient(#ffe4c4 60%, grey);
   
}


.footer {
    height: 50px;
    background-color: black;
    margin-left: 2%;
    margin-right: 2%;
    color:bisque;
    font-variant: small-caps;
    line-height: 33px;
    font-size: 15px;
    font-weight: medium;
    display: flex;
    flex-direction: row;
    justify-content: center;
    

}



/*SECCION CONTACTO*/


.titulosint{
    font-family: 'montserrat subrayada', sans-serif ;
    font-size: 15px;
}


.baseSecciones{
    height: 690px;
    margin-left: 2%;
    margin-right: 2%;
    background-image: linear-gradient(#ffe4c4 60%, grey);
   
}

.baseSecciones1{
    height: 690px;
    margin-left: 2%;
    margin-right: 2%;
    background-image: linear-gradient(#ffe4c4 60%, grey);
    display: flex;
    justify-content: space-around;
}

@media (max-width:600px) and (orientation:portrait) {
    .baseSecciones1{
        flex-direction: column;
    }
}


.contenedorContacto{ 
    height: 690px;
    margin-left: 2%;
    margin-right: 2%;
    font-size: 15px;
}
.input1{
    background-color: transparent;
    font-family: 'montserrat';
    border: solid 0.5px;

}

.input2{
    background-color: black;
    padding: 10px;
    color: bisque;
    font-family: 'montserrat';
    font-weight: bold;
    margin-left: 150px;
}

.input2:hover {
    background-color: bisque;
    color: black;

}


/* Profe! con esta serie de !important lo que quise hacer es pisar Bootstrap. Intenté con ID, con doble clase, modificando desde Sass y no lo logré con nada. Sé que no es correcto, pero no encontré otra forma - Y en base a esto, tuve que hacer los @media con la misma categoria de importantes :( 
    

Contienen Carousel: SECCIONES EDITORIAL-GRAFICO-WEB-FOTO

*/

/* FOTO*/

.carouselItem2{
    height: 650px !important;
    width: 450px !important;
    margin-left: 460px !important;
    filter: sepia(30%) !important;
}

.carouselItem2:hover{
    filter: none !important;

}


@media (max-width:600px) and (orientation:portrait) {
    .carouselItem2 {
        height: 450px !important;
        width:350px !important;
        margin-left: 90px !important;
        margin-top: 40px !important;
        filter: sepia(30%) !important;
    }
}


@media (min-width:601px) and (orientation:portrait) {
    .carouselItem2 {
        height: 550px !important;
        width:430px !important;
        margin-left: 120px !important;
        margin-top: 60px !important;
        filter: sepia(30%) !important;
    }
}


.carouselItem2:hover{
    filter: none !important;
}

/* EDITORIAL*/

.carouselItem5{
    height: 650px !important;
    width: 450px !important;
    margin-left: 460px !important;
    filter: sepia(30%) !important;
}

.carouselItem5:hover{
    filter: none !important;

}

@media (max-width:600px) and (orientation:portrait) {
    .carouselItem5 {
        height: 450px !important;
        width:330px !important;
        margin-left: 80px !important;
        margin-top: 40px !important;
        filter: sepia(30%) !important;
    }
}


@media (min-width:601px) and (orientation:portrait) {
    .carouselItem5 {
        height: 550px !important;
        width:410px !important;
        margin-left: 120px !important;
        margin-top: 60px !important;
        filter: sepia(30%) !important;
    }
}

.carouselItem6{
    height: 550px !important;
    width: 750px !important;
    margin-left: 330px !important;
    margin-top: 70px !important;
    filter: sepia(30%) !important;
}

.carouselItem6:hover{
    filter: none !important;

}

@media (max-width:600px) and (orientation:portrait) {
    .carouselItem6 {
        height: 250px !important;
        width:350px !important;
        margin-left: 65px !important;
        margin-top: 70px !important;
        filter: sepia(30%) !important;
    }
}


@media (min-width:601px) and (orientation:portrait) {
    .carouselItem6 {
        height: 400px !important;
        width:560px !important;
        margin-left: 45px !important;
        margin-top: 60px !important;
        filter: sepia(30%) !important;
    }
}

/* GRAFICO */
.carouselItem15{
    height: 650px !important;
    width: 470px !important;
    margin-left: 460px !important;
    filter: sepia(30%) !important;
}
.carouselItem15:hover{
    filter: none !important;

}

@media (max-width:600px) and (orientation:portrait) {
    .carouselItem15 {
        height: 500px !important;
        width:350px !important;
        margin-left: 65px !important;
        margin-top: 90px !important;
        filter: sepia(30%) !important;
    }
}


@media (min-width:601px) and (orientation:portrait) {
    .carouselItem15 {
        height: 600px !important;
        width:450px !important;
        margin-left: 95px !important;
        margin-top: 60px !important;
        filter: sepia(30%) !important;
    }
}


.carouselItem17{
    height: 400px !important;
    width: 550px !important;
    margin-left: 400px !important;
    margin-top: 90px !important ;
    filter: sepia(30%) !important;
}
.carouselItem17:hover{
    filter: none !important;
}



@media (max-width:600px) and (orientation:portrait) {
    .carouselItem17 {
        height: 250px !important;
        width:350px !important;
        margin-left: 65px !important;
        margin-top: 150px !important;
        filter: sepia(30%) !important;
    }
}


@media (min-width:601px) and (orientation:portrait) {
    .carouselItem17 {
        height: 400px !important;
        width:550px !important;
        margin-left: 45px !important;
        margin-top: 85px !important;
        filter: sepia(30%) !important;
    }
}



.carouselItem18{
    height: 400px !important;
    width: 400px !important;
    margin-left: 480px !important;
    margin-top: 90px !important ;
    filter: sepia(30%) !important;
}
.carouselItem18:hover{
    filter: none !important;
}

@media (max-width:600px) and (orientation:portrait) {
    .carouselItem18 {
        height: 250px !important;
        width:280px !important;
        margin-left: 100px !important;
        margin-top: 180px !important;
        filter: sepia(30%) !important;
    }
}


@media (min-width:601px) and (orientation:portrait) {
    .carouselItem18 {
        height: 350px !important;
        width:380px !important;
        margin-left:150px !important;
        margin-top: 135px !important;
        filter: sepia(30%) !important;
    }
}

.carouselItem19{
    height: 300px !important;
    width: 650px !important;
    margin-left: 350px !important;
    margin-top: 100px !important ;
    filter: sepia(30%) !important;
}
.carouselItem19:hover{
    filter: none !important;
}

@media (max-width:600px) and (orientation:portrait) {
    .carouselItem19 {
        height: 100px !important;
        width:270px !important;
        margin-left: 100px !important;
        margin-top: 200px !important;
        filter: sepia(30%) !important;
    }
}


@media (min-width:601px) and (orientation:portrait) {
    .carouselItem19 {
        height: 155px !important;
        width:380px !important;
        margin-left:130px !important;
        margin-top: 200px !important;
        filter: sepia(30%) !important;
    }
}

/* WEB*/

.carouselItem21{
    height: 500px !important;
    width: 1000px !important;
    margin-left: 180px !important;
    margin-top: 90px !important ;
    filter: sepia(30%) !important;
}
.carouselItem21:hover{
    filter: none !important;
}

@media (max-width:600px) and (orientation:portrait) {
    .carouselItem21 {
        height: 200px !important;
        width:350px !important;
        margin-left: 95px !important;
        margin-top: 110px !important;
        filter: sepia(30%) !important;
    }
}

@media (min-width:601px) and (orientation:portrait) {
    .carouselItem21 {
        height: 300px !important;
        width: 600px !important;
        margin-left: 18px !important;
        margin-top: 130px !important;
        filter: sepia(30%) !important;
    }
}



.carouselItem27{
    height: 650px !important;
    width: 1000px !important;
    margin-left: 180px !important;
    margin-top: 30px !important ;
    filter: sepia(30%) !important;
}
.carouselItem27:hover{
    filter: none !important;
}

@media (max-width:600px) and (orientation:portrait) {
    .carouselItem27 {
        height: 300px !important;
        width:450px !important;
        margin-left: 15px !important;
        margin-top: 90px !important;
        filter: sepia(30%) !important;
    }
}

@media (min-width:601px) and (orientation:portrait) {
    .carouselItem27 {
        height: 400px !important;
        width: 600px !important;
        margin-left: 18px !important;
        margin-top: 90px !important;
        filter: sepia(30%) !important;
    }
}



.carouselItem29{
    height: 650px !important;
    width: 300px !important;
    margin-left: 535px !important;
    margin-top: 20px !important ;
    filter: sepia(30%) !important;
}
.carouselItem29:hover{
    filter: none !important;
}

@media (max-width:600px) and (orientation:portrait) {
    .carouselItem29 {
        height: 450px !important;
        width:200px !important;
        margin-left: 140px !important;
        margin-top: 40px !important;
        filter: sepia(30%) !important;
    }
}

@media (min-width:601px) and (orientation:portrait) {
    .carouselItem29 {
        height: 550px !important;
        width: 230px !important;
        margin-left: 200px !important;
        margin-top: 20px !important;
        filter: sepia(30%) !important;
    }
}


.carouselItem30{
    height: 500px !important;
    width: 650px !important;
    margin-left: 380px !important;
    margin-top: 90px !important ;
    filter: sepia(30%) !important;
}
.carouselItem30:hover{
    filter: none !important;
}

@media (max-width:600px) and (orientation:portrait) {
    .carouselItem30 {
        height: 300px !important;
        width:350px !important;
        margin-left: 65px !important;
        margin-top: 80px !important;
        filter: sepia(30%) !important;
    }
}

@media (min-width:601px) and (orientation:portrait) {
    .carouselItem30 {
        height: 370px !important;
        width: 450px !important;
        margin-left: 100px !important;
        margin-top: 90px !important;
        filter: sepia(30%) !important;
    }
}


/* SECCION SOBRE MI */

.contenedorMi{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
   
}


.yo .pYo {
   
    margin-left: 55px;
    height: 500px;
    width: 400px;
    margin-top: 200px;
    font-size: 16px;
    font-weight: bolder;
    align-items: center;
}

@media (max-width:600px) and (orientation:portrait) {
    .yo .pYo {
       font-size: 10px;
       width: 200px;
    }
}

@media (min-width:601px) and (orientation:portrait) {
    .yo .pYo {
       font-size: 13px;
       width: 200px;
    }
}

.fotoYo {
    background-color: aqua;
    margin-right: 95px;
    height: 460px;
    width: 400px;
    margin-top: 80px;
    background-image: url(../MULTMEDIA/yo.JPG);
    background-position: center;
    background-size: cover;
    filter: sepia(30%);
    animation-name: aparecer;
    animation-duration: 5s;
    animation-direction:alternate-reverse;
    border-radius: 50%;
    border: solid black 4px;
    box-shadow: 10px 10px 10px 10px grey;
    
}

@keyframes aparecer {
    0%{
        opacity: 1;
    }
    100% {
        opacity: 0;
        
    }

}

.fotoYo:hover {
    filter: none;
}

@media (max-width:600px) and (orientation:portrait) {
    .fotoYo {
    height: 200px;
    width: 300px;
    margin-top: 200px;
    margin-right: 50px;
    
    }
}

@media (min-width:601px) and (orientation:portrait) {
    .fotoYo {
    height: 300px;
    width: 250px;
    margin-top: 200px;
    margin-right: 50px;
    
    }
}


.hola { 
    font-family: 'montserrat subrayada';
    position: absolute;
    font-size: 30px;
    margin-top: 130px;
    margin-left: 180px;
}

@media (max-width:600px) and (orientation:portrait) {
    .hola {
      margin-top: 100px;
    }
}

@media (min-width:601px) and (orientation:portrait) {
    .hola {
      margin-top: 90px;
    }
}


.estrella {
    background-image: url(../MULTMEDIA/Estrella\ _Mesa\ de\ trabajo\ 1.png);
    background-size: cover;
    background-position: center;
    height: 50px;
    width: 50px;
    position: absolute;
    margin-top: 480px;
    animation-name: blackstar;
    animation-duration: 5s;
    animation-timing-function: ease-in;
}
 @keyframes blackstar {
     0% { opacity: 0;
        /*transform: rotateZ(45deg);*/
     }
     50% {opacity: 0.5;
        /*transform: rotateZ(90deg);*/
        
     }
     100% { opacity: 1;
        transform: rotateZ(360deg);
     }
 }

 @media (min-width:601px) and (orientation:portrait) {
    .estrella {
      margin-top: 550px;
    }
}

.input1{
    background-color: transparent;
    font-family: 'montserrat';
    border: solid 0.5px;

}

.input2{
    background-color: black;
    padding: 10px;
    color: bisque;
    font-family: 'montserrat';
    font-weight: bold;
    margin-left: 150px;
}

.input2:hover {
    background-color: bisque;
    color: black;

}

